<div *ngIf="authSuccessMessage !== null" class="alert alert-success" role="alert">{{authSuccessMessage}}</div>
<div *ngIf="authErrorMessage !== null" class="alert alert-danger" role="alert">{{authErrorMessage}}</div>
<div class="card">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    <p class="card-subtitle">View and Manage your settings</p>
    <hr/>
    <form>
      <div class="form-group row">
        <label for="staticUsername" class="col-sm-2 col-form-label font-weight-bold">Username</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticUsername" value="{{user.username}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticAccount" class="col-sm-2 col-form-label font-weight-bold">Member of Account</label>
        <div class="col-sm-5">
          <input type="text" readonly class="form-control-plaintext" id="staticAccount" value="email@example.com">
        </div>
        <div class="col-sm-5">
          <button class="btn btn-warning mb-2">Leave Account</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <input [(ngModel)]="oldPassword" type="password" class="form-control" name="oldPassword" id="oldPassword"
                 placeholder="Current Password" value="">
        </div>
        <div class="col-sm-3">
          <input [(ngModel)]="newPassword" type="password" class="form-control" name="newPassword" id="inputPassword"
                 placeholder="New Password" value="">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <button (click)="onChangePassword(oldPassword, newPassword)"
                  [disabled]="!oldPassword || !newPassword"
                  class="btn btn-primary mb-2">Change Password
          </button>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="deleteReg" class="col-sm-2 col-form-label font-weight-bold"></label>
        <div class="col-sm-5">
          <input type="text" readonly class="form-control-plaintext" id="deleteReg" value="Delete my user profile">
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn btn-danger" (click)="openDeleteUserConfirmationModal(template)">Delete</button>
          <br><br>
          <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Profile deletion</h4>
              </div>
              <div class="modal-body">
                <p>
                  <strong>Are you sure you want to delete <span class="text-primary">"{{user.username}}"</span>'s profile?</strong>
                </p>
                <p>All information associated to this user profile will be permanently deleted.
                  <span class="text-danger">This operation can not be undone.</span>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="confirmDeleteUser()">Yes</button>
                <button type="button" class="btn btn-danger" (click)="declineDeleteUser()">No</button>
              </div>
          </ng-template>
        </div>

      </div>
    </form>
  </div>
</div>
