<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button *ngIf="signedIn" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button class="app-name" routerLink="/login">IDCrypt</button>

    <span class="filler"></span>

    <span *ngIf="!signedIn" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <button mat-button class="nav-link" routerLink="/login">Sign In</button>
    </span>

    <a *ngIf="signedIn" mat-list-item [matMenuTriggerFor]="loggedInMenu">
      <mat-icon>more_horiz</mat-icon>
    </a>
    <mat-menu #loggedInMenu="matMenu">
      <a mat-menu-item *ngIf="user" routerLink="/settings">{{user.email}}</a>
      <a mat-menu-item (click)="onLogout()">Logout</a>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56"
                 [mode]="mobileQuery.matches ? 'over' : 'side'">

      <mat-nav-list *ngIf="signedIn">
        <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="onSideNavClick()">Home</a>

        <a mat-list-item routerLink="/requests" routerLinkActive="active" (click)="onSideNavClick()">Requests</a>

        <a mat-list-item routerLink="/repos" routerLinkActive="active" (click)="onSideNavClick()">Repositories</a>

        <a mat-list-item routerLink="/docs" routerLinkActive="active" (click)="onSideNavClick()">Documents</a>

        <a mat-list-item routerLink="/members" routerLinkActive="active" (click)="onSideNavClick()">Members</a>

        <a mat-list-item routerLink="/admins" routerLinkActive="active" (click)="onSideNavClick()">Administrators</a>

        <a mat-list-item routerLink="/reports" routerLinkActive="active" (click)="onSideNavClick()">Reports</a>

        <a mat-list-item routerLink="/billing" routerLinkActive="active" (click)="onSideNavClick()">Billing</a>

        <a mat-list-item routerLink="/settings" routerLinkActive="active" (click)="onSideNavClick()">Settings</a>

        <a mat-list-item routerLink="/support" routerLinkActive="active" (click)="onSideNavClick()">Support</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet>
        <span *ngIf="showLoader" class="loading-indicator">
          <mat-spinner [diameter]="40"></mat-spinner>
        </span>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
