<div class="wrapper">

  <!-- Sidebar  -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a href="#">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a href="#repoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-folder-plus"></i>
          Repositories
        </a>
        <ul class="collapse list-unstyled" id="repoSubmenu">
          <li>
            <a href="#">Repo 1</a>
          </li>
          <li>
            <a href="#">Repo 2</a>
          </li>
          <li>
            <a href="#">Repo 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          Employees
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user-shield"></i>
          Administrators
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-passport"></i>
          Documents
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-poll"></i>
          Reports
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-file-invoice-dollar"></i>
          Billing
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-cogs"></i>
          Settings
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-paper-plane"></i>
          Support
        </a>
      </li>
    </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
    <button type="button" id="sidebarCollapse" class="navbar-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <h2>Collapsible Sidebar Using Bootstrap 4</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="line"></div>

    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>
