<mat-card>
  <mat-card-header>
    <mat-card-title>Requests</mat-card-title>
    <mat-card-subtitle>{{requestStatus | titlecase}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="text-center">
      <ngb-alert *ngIf="alertBox.display" [type]="alertBox.type" (close)="alertBox.display = false">{{alertBox.message}}</ngb-alert>
    </p>
    <p class="text-center" *ngFor="let alert of alertBoxes">
      <ngb-alert *ngIf="alert.display" [type]="alert.type" (close)="alert.display = false">{{alert.message}}</ngb-alert>
    </p>

    <p *ngIf="requestCount === 0">No {{requestStatus | titlecase}} requests found.</p>
    <table *ngIf="requestCount !== 0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- requestType Column -->
      <ng-container matColumnDef="requestType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type </th>
        <td mat-cell *matCellDef="let element"> {{element.requestType | humancase}} </td>
      </ng-container>

      <!-- requestedOnResourceName Column -->
      <ng-container matColumnDef="requestedOnResourceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource </th>
        <td mat-cell *matCellDef="let element"> {{element.requestedOnResourceName}} </td>
      </ng-container>

      <!-- requestee Column -->
      <ng-container matColumnDef="requestedByEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested By </th>
        <td mat-cell *matCellDef="let element"> {{element.requesteeEmail}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
          <button  mat-button color="primary"(click)="openUpdateHistoryDialog(element)">
            {{element.status}}
          </button>
        </td>
      </ng-container>

      <!-- createdAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">

    </table>

    <div class="request-action-button-row">
      <button mat-icon-button aria-label="refresh" (click)="refreshRequestsTable()"> <i class="fas fa-sync-alt"></i> </button>
      <button *ngIf="ownedAccount != null && requestStatus !== 'archived'" mat-button color="warn" (click)="openConfirmDialog('denied')" [disabled]="selection.selected.length == 0">Deny</button>
      <button *ngIf="ownedAccount != null && requestStatus !== 'archived'" mat-button color="primary" (click)="openConfirmDialog('approved')" [disabled]="selection.selected.length == 0">Approve</button>
      <button *ngIf="ownedAccount == null && requestStatus !== 'archived'" mat-button color="warn" (click)="openConfirmDialog('cancelled')" [disabled]="selection.selected.length == 0">Cancel Request</button>
    </div>
  </mat-card-content>
</mat-card>
