/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.request-action-button-row button,
.request-action-button-row a {
  margin-top: 8px;
  margin-right: 8px;
}
