/* You can add global styles to this file, and also import other style files */
@import "~@aws-amplify/ui/src/Theme.css";
.amplify-block {
  @import "~@aws-amplify/ui/src/Angular";

  .amplify-container {
    padding-bottom: 2em;
  }

  .amplify-form-button {
    background: #3f51b5;
  }

  .amplify-form-link {
    color: #3f51b5;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
