/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.expanded-full-width {
  width: 100%;
}

.expanded-half-width {
  width: 50%;
}

table {
  width: 100%;
}

tr.member-detail-row {
  height: 0;
}

tr.member-element-row:not(.member-expanded-row):hover {
  background: whitesmoke;
}

tr.member-element-row:not(.member-expanded-row):active {
  background: #efefef;
}

.member-element-row td {
  border-bottom-width: 0;
}

.member-element-detail {
  overflow: hidden;
  display: flex;
  background: ghostwhite;
}

.member-element-details {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.member-action-button-row button,
.member-action-button-row a {
  margin-top: 8px;
  margin-right: 8px;
}
