<form>
  <div class="form-group row">
    <label for="staticAccountName" class="col-sm-2 col-form-label font-weight-bold">Account Name</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticAccountName" value="{{account.name}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">Owner</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{account.email}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticTier" class="col-sm-2 col-form-label font-weight-bold">Tier</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticTier" value="{{account.tier | titlecase}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticStatus" class="col-sm-2 col-form-label font-weight-bold">Status</label>
    <div class="col-sm-10">
      <input type="text" [ngClass]="{'text-danger': (account.status === 'inactive')}" readonly
             class="form-control-plaintext" id="staticStatus" value="{{account.status | titlecase}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticCreatedAt" class="col-sm-2 col-form-label font-weight-bold">Created On</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticCreatedAt"
             value="{{account.createdAt | toDateObj | date }}">
    </div>
  </div>
  <hr>
  <div *ngIf="account.status === 'active'" class="form-group row">
    <label for="deactivateAccount" class="col-sm-2 col-form-label font-weight-bold"></label>
    <div class="col-sm-5">
      <input type="text" readonly class="form-control-plaintext" id="deactivateAccount" value="Deactivate Account">
    </div>
    <div class="col-sm-5">
      <button type="button" class="btn btn-danger" (click)="openConfirmationModal(template)">
        Deactivate
      </button>
      <br><br>
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-deactivate-title">Account Deactivation</h4>
        </div>
        <div class="modal-body">
          <p>
            <strong>Are you sure you want to deactivate <span class="text-primary">"{{account.name}}"</span>?</strong>
          </p>
          <p>Document uploads to this account will be suspended.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="confirmAccountDeactivation()">Yes</button>
          <button type="button" class="btn btn-danger" (click)="declineConfirmationModal()">No</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="account.status === 'inactive'" class="form-group row">
    <label for="deactivateAccount" class="col-sm-2 col-form-label font-weight-bold"></label>
    <div class="col-sm-5">
      <input type="text" readonly class="form-control-plaintext" id="activateAccount" value="Activate Account">
    </div>
    <div class="col-sm-5">
      <button type="button" class="btn btn-info" (click)="openConfirmationModal(template)">
        Activate
      </button>
      <br><br>
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-activate-title">Account Activation</h4>
        </div>
        <div class="modal-body">
          <p>
            <strong>Are you sure you want to Activate <span class="text-primary">"{{account.name}}"</span>?</strong>
          </p>
          <p>Document uploads to this account will be resumed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="confirmAccountActivation()">Yes</button>
          <button type="button" class="btn btn-danger" (click)="declineConfirmationModal()">No</button>
        </div>
      </ng-template>
    </div>
  </div>
</form>
